name: Playwright Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-html pytest-playwright playwright

      - name: Install Playwright Browsers
        run: playwright install --with-deps

      - name: Run Playwright Tests
        run: pytest --html=report.html --self-contained-html

      - name: Upload Test Report Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Playwright-Test-Report
          path: report.html
